<div class="index-container">
  <h2 class="index-title">Let's play</h2>
  <div class="buttons-container">
    <a class="green-button" href="/create">New game</a>
    <% if game_exist? %>
      <a class="blue-button" href="/play">Continue game</a>
    <% end %>
  </div>
  <%= render 'games/_table' %>
</div>
