// Green.
$green: (
  lighter: #15d241,
  light: #00be2c, // Button.
  default: #0da931, // Button-hover
  dark: #097522,
  regist: #72bf44
);
// Green.
$grey: (
  light: #e3e3e3,
  default: #d1d1d1,
  dark: #b1b1b1
);
// Red
$red: (
  light: #ff7800,
  default: #f70a04,
  dark: #e54817
);
// Blue
$blue: (
  light: #0094ff,
  default: #4571b4,
  dark: #3c5b8c
);

$yellow: (
  default: #ffffcc,
);

$white: #fff;
$black: #000;

$bold: 500;
$normal: 400;
$light: 300;
