<header>
  <a href="/" class="logo">Codebreaker</a>
  <div class="nav-buttons">
    <a target="_blank" href="//telegram.me/CodeguessingBot" class="nav-hint">BotGuessing</a>
    <a href="/rules" class="nav-hint">Rules</a>
  </div>
</header>
